{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-xl-7 mx-auto my-5">
        <div class="row mb-5">
            <a class="btn btn-info btn-lg col-5 mx-auto" href="{% url 'buscar_clubes' %}">Clubes</a>
            <a class="btn btn-success btn-lg col-5 mx-auto" href="{% url 'buscar_jugadores' 'ascendente' %}">Jugadores</a>
        </div>
        <label class="display-4">Ganancias por Equipo</label>
        <form method='POST' action="{% url 'reporte' %}">{% csrf_token %}
            <div class="form-row mx-auto m-5">
                <div class="form-group col-12 ml-auto">
                    <label for="date_from" class="label">Clubes:</label>
                    <select name="club" class="custom-select mb-4" required>
                        <option selected value>Selecciona un club...</option>
                        {% for club in clubes %}
                            <option value="{{ club.nombre }}">{{ club.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-6 ml-auto" required>
                    <label for="date_from" class="label">Fecha Desde:</label>
                    <input type="date" name="date_from" class="date form-control"/>
                </div>
                <div class="form-group col-6 mr-auto" required>
                    <label for="date_to" class="label">Fecha Hasta:</label>
                    <input type="date" name="date_to" class="date form-control"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Obtener Ganancias</button>
            {% if club %}
                <div class="row m-5">
                    <div class="col">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ club.nombre }}</div>
                                        <div class="h5 mb-0 font-weight-bold text-dark">Invertido: $ {{ invertido }}</div>
                                        <div class="h5 mb-0 font-weight-bold text-dark">Ganado: $ {{ ganado }}</div>
                                        <div class="h5 mb-0 font-weight-bold text-success">Ganancia Neta: $ {{ ganancia }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}