{% extends 'base.html' %}
{% block title %}{% if action %}{{ action }}{% else %}Nuevo{% endif %} Club{% endblock %}
{% block content %}
<div class="container">
    <div class="col-xl-8 mx-auto my-5">
        <h2 class="m-4">{% if action %}{{ action }}{% else %}Nuevo{% endif %} Club</h2>
        <form method="POST">{% csrf_token %}
            <div class="form-group">
                <label>Nombre del Club</label><br>
                <input type="text" class="form-control" name="nombre" value="{{ club.nombre }}">
            </div>
            <button type="submit" class="btn btn-primary">{% if action %}{{ action }}{% else %}Guardar{% endif %}</button>
        </form>
    </div>
</div>
{% endblock %}